
html,body {
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
    display: flex;
    flex-direction: column;
    background-color: ivory;
    background-image: url("background1.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    color: maroon;
    line-height: 1.5;
}

header {
    background-color: PaleVioletRed;
    color: white;
    text-align: center;
    padding: 5px;
}


.main-container {
    display: flex;          
    flex-direction: row;    
    flex: 1;         
}


nav {
    width: 120px;
    background-color: pink;
    padding: 5px;
    line-height: 30px;
    flex-shrink: 0;      
}


section {
    flex: 1;                 
    margin: 10px;
    padding: 10px;
}


footer {
    background-color: PaleVioletRed;
    color: white;
    text-align: center;
    padding: 5px;
}

body#home nav { }

body#biodata nav { }

body#education nav { }

body#experience p.groove { border-style: groove; }

body#family p { color: DarkSlateGray; }

body#gallery div.gallery {
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;            
}

body#gallery div.gallery-item {
    margin: 5px;
    width: 180px;  
    border: 1px solid #ccc;
    text-align: center;
    background: lightpink;
    padding-bottom: 10px;
}

body#gallery div.gallery-item:hover {
    border: 1px solid #777;
}

body#gallery div.gallery-item img {
    width: 100%;
    height: auto;
}

body#gallery div.gallery-item .desc {
    padding: 10px;
    font-size: 16px;
}
