
html,body {
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
    display: flex;
    flex-direction: column;
    background-color: ivory;
    background-image: url("background1.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1.h1-title {
  color: maroon;
}

h2, h3, p {
    color: maroon;
}

p { 
   line-height: 1.5;
}

header {
    background-color: PaleVioletRed;
    color: white;
    text-align: center;
    padding: 5px;
}


.main-container {
    display: flex;          
    flex-direction: row;    
    flex: 1;         
}


nav {
    width: 120px;
    background-color: pink;
    padding: 5px;
    line-height: 30px;
    flex-shrink: 0;      
}


section {
    flex: 1;                 
    margin: 10px;
    padding: 10px;
}


footer {
    background-color: PaleVioletRed;
    color: white;
    text-align: center;
    padding: 5px;
}

hr {
  border: 1px solid purple;
}

.exp-img {
  width: 250px;
  border-radius: 10px;
  border: 5px solid thistle;
}


.family-marquee {
  background-color: mistyrose;
}

.family-img {
  width: 170px;
  height: 190px;
  border-radius: 10px;
}

.portrait-img {
  border-radius: 10px;
  width: 270px;
  height: 175px;
}

.edu-table {
  text-align: center;
  border-spacing: 20px;
}

.edu-img {
  width: 250px;
  height: 240px;
  border-radius: 10px;
  border: 3px solid PaleVioletRed;
}

.spm-table {
  border: 3px dashed sienna;
  margin: auto;
}

.spm-table th,
.spm-table td {
  border: 1px solid MediumOrchid;
}

.spm-table td {
  background-color: thistle;
  text-align: center;
}

body#home nav { }

body#biodata nav { }

body#education nav { }

body#experience p.groove { border-style: groove; }

body#family p { color: DarkSlateGray; }

body#gallery div.gallery {
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;            
}

body#gallery div.gallery-item {
    margin: 5px;
    width: 180px;  
    border: 1px solid #ccc;
    text-align: center;
    background: lightpink;
    padding-bottom: 10px;
}

body#gallery div.gallery-item:hover {
    border: 1px solid #777;
}

body#gallery div.gallery-item img {
    width: 100%;
    height: auto;
}

body#gallery div.gallery-item .desc {
    padding: 10px;
    font-size: 16px;
}


body#family p,
body#family h3 {
    color: DarkSlateGray;
}

body#family td,
body#family th,
body#family b,
body#family strong {
    color: DarkSlateGray;
}

.bio-wrap {
  padding: 10px;
}

.bio-img {
  float: left;
  width: 300px;
  height: 280px;
  clip-path: ellipse(40% 50%);
  shape-outside: ellipse(45% 50%);
  margin-right: 15px;
}

.language-list {
  color: Crimson;
}

.food-list {
  color: purple;
}

.hobby-table {
    border: 3px dashed salmon;
    margin: auto;
    text-align: center;
}

.hobby-table th,
.hobby-table td {
    border: 3px solid LightCoral;
    padding: 5px;
}

.hobby-header {
    background-color: PapayaWhip;
    color: maroon;
}

.hobby-item {
    background-color: LemonChiffon;
}

.hobby-img {
    border: 3px solid LightPink;
    background-color: white;
}

.hobby-img img {
  width: 125px;
  height: 100px;
}

.hobby-desc {
    border: 3px solid LightPink;
    background-color: white;
}



.custom-table {
    border: 3px dashed sienna;
    border-collapse: collapse;
    margin: auto;
}

.custom-table colgroup col {
    background-color: BlanchedAlmond;
}

.custom-table th {
    border: 1px solid MediumOrchid;
    background-color: BlanchedAlmond;
    padding: 8px 12px;
}

.custom-table td {
    border: 1px solid MediumOrchid;
    background-color: cornsilk;
    padding: 8px 12px;
    text-align: center;
}

.custom-table tr:hover td {
    background-color: cornsilk;
}

.content-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.home-marquee {
  background-color:seashell;
}

.social-icon {
  width: 50px;
  height: 40px;
}


.video-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 25px;
}

.video-row video {
  width: 250px;
  height: 170px;
}

.video-vertical video {
  width: 180px;
  height: 200px;
}
