<style>

body { 
background-color: ivory;
font-family: Trebuchet MS;
background-image: url("background1.png");
background-size: cover; 
background-repeat: no-repeat;
background-position: center;
}

p    
{color: maroon;}

header{
background-color:PaleVioletRed;
color:white;
text-align:center;
padding:5px;
}

nav {
line-height:30px;
background-color:pink;
height:374%;
width:120px;
float:left;
padding:5px;
}

section{
width:87%;
margin:10px;
padding:10px;
float:left;
}

footer{
background-color:PaleVioletRed;
color:white;
clear:both;
text-align:center;
padding:5px;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;            
}

div.gallery-item {

    margin: 5px;
    width: 180px;  
    border: 1px solid #ccc;
    text-align: center;
    background: lightpink;
    padding-bottom: 10px;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}

div.gallery-item .desc {
    padding: 10px;
    font-size: 16px;
}
</style>